.Header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
}

.HeaderNav a {
    margin: 0 8px;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.Form {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

.UserProfile {
    display: flex;
    border: solid;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
}